// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #question {
//   background-color:
// }
#question {
  padding-left: 20px;
}

#answer {
  background-color: rgb(255,253,225);
  width: 400px;
  margin-top: 50px;
  padding-left: 20px;
}

.author {
  font-style: italic;
}


